[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-filter = "*"
django-autoslug = "*"
django-countries = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
psycopg2-binary = "*"
flake8 = "*"
black = "*"
isort = "*"
drf-yasg = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
