<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>

<body>
    <div id="div-page" style="border: 2px solid rgb(66, 109, 5);border-radius: 25px;width: 30em;padding: 25px;margin: 5em;text-align: justify; border-width: thick">

        <h1 style="line-height: 35px;text-align: center;">
            Hello <span id="username" style="color: #131414;">{{username}}</span>
        </h1>
        <div id="div-content" style="line-height: 26px;">
            <p style="text-align: center;">Please click on this link to reset your password.</p>
            <div style="margin-top: 7%;">
                <a id="confirm-link" href="{{link}}" style="background-color:
                 #184e0d; color:#fff;padding: 0.4em;font-size: 2em;text-decoration: none;margin-left: 19%;">Reset
                    Password</a>
            </div>
            <br>

        </div>
    </div>
</body>

</html>